<h3><%= @restaurant.name %></h3>
<p>
    <strong><%= @restaurant.address %></strong><br />
    <strong><%= @restaurant.telephone_number %></strong><br />
    <strong><%= @restaurant.cuisine %></strong><br />
</p>